
.saucal-fm-form {
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.saucal-fm-form label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.saucal-fm-form input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0;
}

.saucal-fm-form input[type="text"]:focus {
    border-color: #0073aa;
}

.saucal-fm-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #0073aa;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.saucal-fm-form button[type="submit"]:hover {
    background-color: #005177;
}

.preference-field {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.saucal-fm-form button.remove-preference {
    background: transparent;
    border: none;
    color: #e74c3c;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
}
.saucal-fm-form button#add-preference {
    margin-top: 10px;
    width: 100%;
}
